html, body {
 background-color: #f0f0f0; 
}

.img-container {
  width: 100px;
  height: 100px;
}

.img-container >img {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(68,64,0,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(68,64,0,1);
  box-shadow: 2px 2px 5px 0px rgba(68,64,0,1);
}

.stats {
  position: relative;
  padding-left: 120px;
}
